<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opentcs.map.mapper.PathMapper">

    <!-- 路径表映射 -->
    <resultMap id="pathResultMap" type="org.opentcs.map.domain.entity.Path">
        <id column="id" property="id"/>
        <result column="plant_model_id" property="plantModelId"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="source_point_id" property="sourcePointId"/>
        <result column="dest_point_id" property="destPointId"/>
        <result column="trajectory" property="trajectory"/>
        <result column="length" property="length"/>
        <result column="routing_type" property="routingType"/>
        <result column="path_type" property="pathType"/>
        <result column="max_velocity" property="maxVelocity"/>
        <result column="max_reverse_velocity" property="maxReverseVelocity"/>
        <result column="min_width" property="minWidth"/>
        <result column="max_slope" property="maxSlope"/>
        <result column="access_level" property="accessLevel"/>
        <result column="properties" property="properties"/>
        <result column="is_locked" property="locked"/>
        <result column="lock_holder" property="lockHolder"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="version" property="version"/>
    </resultMap>
    
    <!-- 基础查询字段 -->
    <sql id="baseColumns">
        id, plant_model_id, name, code, source_point_id, dest_point_id, trajectory, length,
        routing_type, path_type, max_velocity, max_reverse_velocity, min_width, max_slope,
        access_level, properties, is_locked, lock_holder, created_by, created_time, 
        updated_by, updated_time, version
    </sql>

</mapper>