# MySQL 配置
MYSQL_ROOT_PASSWORD=MySQL@2024!Root
MYSQL_DATABASE=opentcs
MYSQL_USER=opentcs
MYSQL_PASSWORD=Opentcs@2024!DB

# Redis 配置
REDIS_PASSWORD=Redis@2024!Cache

# MinIO 配置
MINIO_USER=minioadmin
MINIO_PASSWORD=MinIO@2024!Admin
